
caesarhacker.py
waterbucket.py
trickquestions.py
towerofhanoi.py
threecardmonte.py
sudokupuzzles.txt
spongecase.py
soundS.wav
soundF.wav
slidingtilepuzzle.py
shiningcarpet.py
sevenletterwords.txt
royalgameofur.py
.idea/Big Book of Small Python Projects.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
BigBookPythonResources.zip
birthdayparadox.py
bitmapmessage.py
blackjack.py
bouncingdvd.py
caesarcipher.py
calendarmaker.py
carrotinabox.py
chohan.py
clickbait.py
collatz.py
Completed Projects/bagels.py
conwaysgameoflife.py
countdown.py
deepcave.py
diamonds.py
dicemath.py
diceroller.py
digitalclock.py
digitalstream.py
dna.py
ducklings.py
etchingdrawer.py
factorfinder.py
fastdraw.py
fibonacci.py
fishtank.py
flooder.py
forestfiresim.py
fourinarow.py
guess.py
gullible.py
hacking.py
hangman.py
hexgrid.py
hourglass.py
hungryrobots.py
jaccuse.py
langtonsant.py
leetspeak.py
luckystars.py
magicfortuneball.py
mancala.py
maze11x11s1.txt
maze75x11s1.txt
mazerunner2d.py
mazerunner3d.py
milliondicestats.py
mondrian.py
montyhall.py
multiplicationtable.py
ninetyninebottles.py
ninetyninebottles2.py
numeralsystems.py
periodictable.csv
periodictable.py
piglatin.py
powerballlottery.py
primenumbers.py
progressbar.py
rainbow.py
rockpaperscissors.py
rockpaperscissorsalwayswin.py
rot13cipher.py
rotatingcube.py
sevseg.py
simplesubcipher.py
sinemessage.py
snailrace.py
soroban.py
soundA.wav
soundD.wav
soundmimic.py
sudoku.py
texttospeechtalker.py
tictactoe.py
twentyfortyeight.py
vigenerecipher.py
